<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>dic_chinese</key>
		<dict>
			<key>编辑</key>
			<dict>
				<key>title</key>
				<string>编辑</string>
			</dict>
			<key>查看连接</key>
			<dict>
				<key>title</key>
				<string>查看连接</string>
			</dict>
			<key>多语言</key>
			<dict>
				<key>title</key>
				<string>多语言</string>
			</dict>
			<key>域名</key>
			<dict>
				<key>title</key>
				<string>域名</string>
			</dict>
			<key>取消</key>
			<dict>
				<key>title</key>
				<string>取消</string>
			</dict>
			<key>确定</key>
			<dict>
				<key>title</key>
				<string>确定</string>
			</dict>
			<key>人</key>
			<dict>
				<key>title</key>
				<string>人</string>
			</dict>
			<key>月</key>
			<dict>
				<key>title</key>
				<string>月</string>
			</dict>
			<key>wifi出租</key>
			<dict>
				<key>title</key>
				<string>wifi出租</string>
			</dict>
			<key>我</key>
			<dict>
				<key>title</key>
				<string>我</string>
			</dict>
			<key>暂无任何设备，请点击右上角“添加”按钮进行设备添加</key>
			<dict>
				<key>title</key>
				<string>暂无任何设备，请点击右上角“添加”按钮进行设备添加</string>
			</dict>
			<key>暂无共享</key>
			<dict>
				<key>title</key>
				<string>暂无共享</string>
			</dict>
			<key>你的设备</key>
			<dict>
				<key>title</key>
				<string>你的设备</string>
			</dict>
			<key>名称</key>
			<dict>
				<key>title</key>
				<string>名称</string>
			</dict>
			<key>删除</key>
			<dict>
				<key>title</key>
				<string>删除</string>
			</dict>
			<key>提供使用期限</key>
			<dict>
				<key>title</key>
				<string>提供使用期限</string>
			</dict>
			<key>收费标准</key>
			<dict>
				<key>title</key>
				<string>收费标准</string>
			</dict>
			<key>元／小时</key>
			<dict>
				<key>title</key>
				<string>元／小时</string>
			</dict>
			<key>关闭共享</key>
			<dict>
				<key>title</key>
				<string>关闭共享</string>
			</dict>
			<key>添加设备</key>
			<dict>
				<key>title</key>
				<string>添加设备</string>
			</dict>
			<key>添加</key>
			<dict>
				<key>title</key>
				<string>添加</string>
			</dict>
			<key>你可以使用最多三台设备，但仅允许一台设备可用</key>
			<dict>
				<key>title</key>
				<string>你可以使用最多三台设备，但仅允许一台设备可用</string>
			</dict>
			<key>填写信息</key>
			<dict>
				<key>title</key>
				<string>填写信息</string>
			</dict>
			<key>跳过</key>
			<dict>
				<key>title</key>
				<string>跳过</string>
			</dict>
			<key>网络名称</key>
			<dict>
				<key>title</key>
				<string>网络名称</string>
			</dict>
			<key>上网密码</key>
			<dict>
				<key>title</key>
				<string>上网密码</string>
			</dict>
			<key>最多使用人数</key>
			<dict>
				<key>title</key>
				<string>最多使用人数</string>
			</dict>
			<key>温馨提示:平台将扣款20%，剩余的款项将打给您</key>
			<dict>
				<key>title</key>
				<string>温馨提示:平台将扣款20%，剩余的款项将打给您</string>
			</dict>
			<key>提交</key>
			<dict>
				<key>title</key>
				<string>提交</string>
			</dict>
			<key>确认wifi信息</key>
			<dict>
				<key>title</key>
				<string>确认wifi信息</string>
			</dict>
			<key>确认信息</key>
			<dict>
				<key>title</key>
				<string>确认信息</string>
			</dict>
			<key>确认</key>
			<dict>
				<key>title</key>
				<string>确认</string>
			</dict>
			<key>查看共享</key>
			<dict>
				<key>title</key>
				<string>查看共享</string>
			</dict>
			<key>使用情况</key>
			<dict>
				<key>title</key>
				<string>使用情况</string>
			</dict>
			<key>剩余时长</key>
			<dict>
				<key>title</key>
				<string>剩余时长</string>
			</dict>
			<key>小时</key>
			<dict>
				<key>title</key>
				<string>小时</string>
			</dict>
			<key>分钟</key>
			<dict>
				<key>title</key>
				<string>分钟</string>
			</dict>
			<key>IP地址</key>
			<dict>
				<key>title</key>
				<string>IP地址</string>
			</dict>
			<key>物理地址</key>
			<dict>
				<key>title</key>
				<string>物理地址</string>
			</dict>
			<key>查看设备</key>
			<dict>
				<key>title</key>
				<string>查看设备</string>
			</dict>
			<key>开启共享</key>
			<dict>
				<key>title</key>
				<string>开启共享</string>
			</dict>
			<key>wifi租用</key>
			<dict>
				<key>title</key>
				<string>wifi租用</string>
			</dict>
			<key>Wifi搜索</key>
			<dict>
				<key>title</key>
				<string>Wifi搜索</string>
			</dict>
			<key>高德地图</key>
			<dict>
				<key>title</key>
				<string>高德地图</string>
			</dict>
			<key>附近共有 个可共享wifi</key>
			<dict>
				<key>title</key>
				<string>附近共有 个可共享wifi</string>
			</dict>
			<key>已连接</key>
			<dict>
				<key>title</key>
				<string>已连接</string>
			</dict>
			<key>连接</key>
			<dict>
				<key>title</key>
				<string>连接</string>
			</dict>
			<key>断开连接</key>
			<dict>
				<key>title</key>
				<string>断开连接</string>
			</dict>
			<key>查看连接（未连接）</key>
			<dict>
				<key>title</key>
				<string>查看连接（未连接）</string>
			</dict>
			<key>速度</key>
			<dict>
				<key>title</key>
				<string>速度</string>
			</dict>
			<key>使用时限</key>
			<dict>
				<key>title</key>
				<string>使用时限</string>
			</dict>
			<key>申请连接</key>
			<dict>
				<key>title</key>
				<string>申请连接</string>
			</dict>
			<key>租用时间</key>
			<dict>
				<key>title</key>
				<string>租用时间</string>
			</dict>
			<key>总计</key>
			<dict>
				<key>title</key>
				<string>总计</string>
			</dict>
			<key>开具发票</key>
			<dict>
				<key>title</key>
				<string>开具发票</string>
			</dict>
			<key>微信支付
推荐微信用户使用</key>
			<dict>
				<key>title</key>
				<string>微信支付
推荐微信用户使用</string>
			</dict>
			<key>支付宝支付
推荐支付宝用户使用</key>
			<dict>
				<key>title</key>
				<string>支付宝支付
推荐支付宝用户使用</string>
			</dict>
			<key>余额支付
推荐已充值用户使用</key>
			<dict>
				<key>title</key>
				<string>余额支付
推荐已充值用户使用</string>
			</dict>
			<key>确认支付</key>
			<dict>
				<key>title</key>
				<string>确认支付</string>
			</dict>
			<key>立即上网</key>
			<dict>
				<key>title</key>
				<string>立即上网</string>
			</dict>
			<key>密码</key>
			<dict>
				<key>title</key>
				<string>密码</string>
			</dict>
			<key>验证连接</key>
			<dict>
				<key>title</key>
				<string>验证连接</string>
			</dict>
			<key>正在连接...</key>
			<dict>
				<key>title</key>
				<string>正在连接...</string>
			</dict>
			<key>连接成功</key>
			<dict>
				<key>title</key>
				<string>连接成功</string>
			</dict>
			<key>成功连接</key>
			<dict>
				<key>title</key>
				<string>成功连接</string>
			</dict>
			<key>累计已用</key>
			<dict>
				<key>title</key>
				<string>累计已用</string>
			</dict>
			<key>当前网速</key>
			<dict>
				<key>title</key>
				<string>当前网速</string>
			</dict>
			<key>续费提示</key>
			<dict>
				<key>title</key>
				<string>续费提示</string>
			</dict>
			<key>续费提醒</key>
			<dict>
				<key>title</key>
				<string>续费提醒</string>
			</dict>
			<key>你的wifi使用即将到期，请续费继续使用!</key>
			<dict>
				<key>title</key>
				<string>你的wifi使用即将到期，请续费继续使用！</string>
			</dict>
			<key>续费</key>
			<dict>
				<key>title</key>
				<string>续费</string>
			</dict>
			<key>查看连接（已连接）</key>
			<dict>
				<key>title</key>
				<string>立即上网</string>
			</dict>
			<key>流量交易</key>
			<dict>
				<key>title</key>
				<string>流量交易</string>
			</dict>
			<key>需流量</key>
			<dict>
				<key>title</key>
				<string>需流量</string>
			</dict>
			<key>营运商</key>
			<dict>
				<key>title</key>
				<string>营运商</string>
			</dict>
			<key>价格</key>
			<dict>
				<key>title</key>
				<string>价格</string>
			</dict>
			<key>温馨提示：该功能暂未开放，敬请期待！</key>
			<dict>
				<key>title</key>
				<string>温馨提示：该功能暂未开放，敬请期待！</string>
			</dict>
			<key>立即支付</key>
			<dict>
				<key>title</key>
				<string>立即支付</string>
			</dict>
			<key>我的信息</key>
			<dict>
				<key>title</key>
				<string>我的信息</string>
			</dict>
			<key>我的余额</key>
			<dict>
				<key>title</key>
				<string>我的余额</string>
			</dict>
			<key>交易记录</key>
			<dict>
				<key>title</key>
				<string>交易记录</string>
			</dict>
			<key>常见问题</key>
			<dict>
				<key>title</key>
				<string>常见问题</string>
			</dict>
			<key>设置</key>
			<dict>
				<key>title</key>
				<string>设置</string>
			</dict>
			<key>消息设置</key>
			<dict>
				<key>title</key>
				<string>消息设置</string>
			</dict>
			<key>接收推送信息</key>
			<dict>
				<key>title</key>
				<string>接收推送信息</string>
			</dict>
			<key>接收活动信息</key>
			<dict>
				<key>title</key>
				<string>接收活动信息</string>
			</dict>
			<key>刷新设置</key>
			<dict>
				<key>title</key>
				<string>刷新设置</string>
			</dict>
			<key>自动刷新</key>
			<dict>
				<key>title</key>
				<string>自动刷新</string>
			</dict>
			<key>摇一摇刷新</key>
			<dict>
				<key>title</key>
				<string>摇一摇刷新</string>
			</dict>
			<key>加载地图</key>
			<dict>
				<key>title</key>
				<string>加载地图</string>
			</dict>
			<key>仅在3G／4G／wifi下</key>
			<dict>
				<key>title</key>
				<string>仅在3G／4G／wifi下</string>
			</dict>
			<key>不加载</key>
			<dict>
				<key>title</key>
				<string>不加载</string>
			</dict>
			<key>退出</key>
			<dict>
				<key>title</key>
				<string>退出</string>
			</dict>
			<key>头像</key>
			<dict>
				<key>title</key>
				<string>头像</string>
			</dict>
			<key>昵称</key>
			<dict>
				<key>title</key>
				<string>昵称</string>
			</dict>
			<key>性别</key>
			<dict>
				<key>title</key>
				<string>性别</string>
			</dict>
			<key>邮箱</key>
			<dict>
				<key>title</key>
				<string>邮箱</string>
			</dict>
			<key>修改密码</key>
			<dict>
				<key>title</key>
				<string>修改密码</string>
			</dict>
			<key>修改昵称</key>
			<dict>
				<key>title</key>
				<string>修改昵称</string>
			</dict>
			<key>修改邮箱</key>
			<dict>
				<key>title</key>
				<string>修改邮箱</string>
			</dict>
			<key>当前密码</key>
			<dict>
				<key>title</key>
				<string>当前密码</string>
			</dict>
			<key>新密码 6-20位字符</key>
			<dict>
				<key>title</key>
				<string>新密码 6-20位字符</string>
			</dict>
			<key>确认密码 6-20位字符</key>
			<dict>
				<key>title</key>
				<string>确认密码 6-20位字符</string>
			</dict>
			<key>完成</key>
			<dict>
				<key>title</key>
				<string>Finish</string>
			</dict>
			<key>账户余额</key>
			<dict>
				<key>title</key>
				<string>账户余额</string>
			</dict>
			<key>充值</key>
			<dict>
				<key>title</key>
				<string>充值</string>
			</dict>
			<key>提现</key>
			<dict>
				<key>title</key>
				<string>提现</string>
			</dict>
			<key>充值记录</key>
			<dict>
				<key>title</key>
				<string>充值记录</string>
			</dict>
			<key>日期</key>
			<dict>
				<key>title</key>
				<string>日期</string>
			</dict>
			<key>金额</key>
			<dict>
				<key>title</key>
				<string>金额</string>
			</dict>
			<key>元</key>
			<dict>
				<key>title</key>
				<string>元</string>
			</dict>
			<key>余额(¥) 元</key>
			<dict>
				<key>title</key>
				<string>余额(¥) 元</string>
			</dict>
			<key>银行卡</key>
			<dict>
				<key>title</key>
				<string>银行卡</string>
			</dict>
			<key>银行卡列表</key>
			<dict>
				<key>title</key>
				<string>银行卡列表</string>
			</dict>
			<key>选择银行卡</key>
			<dict>
				<key>title</key>
				<string>选择银行卡</string>
			</dict>
			<key>添加银行卡（未填写）</key>
			<dict>
				<key>title</key>
				<string>添加银行卡（未填写）</string>
			</dict>
			<key>添加银行卡</key>
			<dict>
				<key>title</key>
				<string>添加银行卡</string>
			</dict>
			<key>请绑定持卡人本人的银行卡</key>
			<dict>
				<key>title</key>
				<string>请绑定持卡人本人的银行卡</string>
			</dict>
			<key>卡类型</key>
			<dict>
				<key>title</key>
				<string>卡类型</string>
			</dict>
			<key>持卡人</key>
			<dict>
				<key>title</key>
				<string>持卡人</string>
			</dict>
			<key>持卡人名字</key>
			<dict>
				<key>title</key>
				<string>持卡人名字</string>
			</dict>
			<key>卡号</key>
			<dict>
				<key>title</key>
				<string>卡号</string>
			</dict>
			<key>银行卡号</key>
			<dict>
				<key>title</key>
				<string>银行卡号</string>
			</dict>
			<key>手机号</key>
			<dict>
				<key>title</key>
				<string>手机号</string>
			</dict>
			<key>银行预留手机号码</key>
			<dict>
				<key>title</key>
				<string>银行预留手机号码</string>
			</dict>
			<key>验证码</key>
			<dict>
				<key>title</key>
				<string>验证码</string>
			</dict>
			<key>请输入验证码</key>
			<dict>
				<key>title</key>
				<string>请输入验证码</string>
			</dict>
			<key>获取验证码</key>
			<dict>
				<key>title</key>
				<string>获取验证码</string>
			</dict>
			<key>添加银行卡（已填写）</key>
			<dict>
				<key>title</key>
				<string>添加银行卡（已填写）</string>
			</dict>
			<key>重发</key>
			<dict>
				<key>title</key>
				<string>重发</string>
			</dict>
			<key>请输入手机收到的短信验证码</key>
			<dict>
				<key>title</key>
				<string>请输入手机收到的短信验证码</string>
			</dict>
			<key>支出</key>
			<dict>
				<key>title</key>
				<string>支出</string>
			</dict>
			<key>收入</key>
			<dict>
				<key>title</key>
				<string>收入</string>
			</dict>
			<key>出租方</key>
			<dict>
				<key>title</key>
				<string>出租方</string>
			</dict>
			<key>流量</key>
			<dict>
				<key>title</key>
				<string>流量</string>
			</dict>
			<key>供网流程</key>
			<dict>
				<key>title</key>
				<string>供网流程</string>
			</dict>
			<key>租网流程</key>
			<dict>
				<key>title</key>
				<string>租网流程</string>
			</dict>
			<key>支付相关</key>
			<dict>
				<key>title</key>
				<string>支付相关</string>
			</dict>
			<key>联系我们</key>
			<dict>
				<key>title</key>
				<string>联系我们</string>
			</dict>
			<key>升级提醒</key>
			<dict>
				<key>title</key>
				<string>升级提醒</string>
			</dict>
			<key>升级公告</key>
			<dict>
				<key>title</key>
				<string>升级公告</string>
			</dict>
			<key>升级到</key>
			<dict>
				<key>title</key>
				<string>升级到</string>
			</dict>
			<key>忽略升级</key>
			<dict>
				<key>title</key>
				<string>忽略升级</string>
			</dict>
			<key>立即升级</key>
			<dict>
				<key>title</key>
				<string>立即升级</string>
			</dict>
			<key>登陆／注册</key>
			<dict>
				<key>title</key>
				<string>登陆／注册</string>
			</dict>
			<key>登陆</key>
			<dict>
				<key>title</key>
				<string>登陆</string>
			</dict>
			<key>注册</key>
			<dict>
				<key>title</key>
				<string>注册</string>
			</dict>
			<key>用户名</key>
			<dict>
				<key>title</key>
				<string>用户名</string>
			</dict>
			<key>提示信息</key>
			<dict>
				<key>title</key>
				<string>提示信息</string>
			</dict>
			<key>你的账号已在另一设备中登陆，是否继续使用本设备登陆？</key>
			<dict>
				<key>title</key>
				<string>你的账号已在另一设备中登陆，是否继续使用本设备登陆？</string>
			</dict>
			<key>是</key>
			<dict>
				<key>title</key>
				<string>是</string>
			</dict>
			<key>否</key>
			<dict>
				<key>title</key>
				<string>否</string>
			</dict>
			<key>创建账户</key>
			<dict>
				<key>title</key>
				<string>创建账户</string>
			</dict>
			<key>下一步</key>
			<dict>
				<key>title</key>
				<string>下一步</string>
			</dict>
			<key>完善资料</key>
			<dict>
				<key>title</key>
				<string>完善资料</string>
			</dict>
			<key>建立基本资料</key>
			<dict>
				<key>title</key>
				<string>建立基本资料</string>
			</dict>
			<key>头像上传</key>
			<dict>
				<key>title</key>
				<string>头像上传</string>
			</dict>
			<key>更换头像</key>
			<dict>
				<key>title</key>
				<string>更换头像</string>
			</dict>
			<key>拍照</key>
			<dict>
				<key>title</key>
				<string>拍照</string>
			</dict>
			<key>从相册选择</key>
			<dict>
				<key>title</key>
				<string>从相册选择</string>
			</dict>
			<key>提交注册</key>
			<dict>
				<key>title</key>
				<string>提交注册</string>
			</dict>
			<key>正在注册</key>
			<dict>
				<key>title</key>
				<string>正在注册</string>
			</dict>
		</dict>
		<key>dic_english</key>
		<dict>
			<key>查看连接</key>
			<dict>
				<key>title</key>
				<string>View connection</string>
			</dict>
			<key>多语言</key>
			<dict>
				<key>title</key>
				<string>language</string>
			</dict>
			<key>域名</key>
			<dict>
				<key>title</key>
				<string>domain name</string>
			</dict>
			<key>确定</key>
			<dict>
				<key>title</key>
				<string>confirm</string>
			</dict>
			<key>编辑</key>
			<dict>
				<key>title</key>
				<string>edit</string>
			</dict>
			<key>月</key>
			<dict>
				<key>title</key>
				<string>month</string>
			</dict>
			<key>取消</key>
			<dict>
				<key>title</key>
				<string>cancel</string>
			</dict>
			<key>我</key>
			<dict>
				<key>title</key>
				<string>me</string>
			</dict>
			<key>wifi出租</key>
			<dict>
				<key>title</key>
				<string>wifi Lease</string>
			</dict>
			<key>人</key>
			<dict>
				<key>title</key>
				<string>people</string>
			</dict>
			<key>暂无任何设备，请点击右上角“添加”按钮进行设备添加</key>
			<dict>
				<key>title</key>
				<string>No device available, please click “Add” on upper-right corner to add device</string>
			</dict>
			<key>暂无共享</key>
			<dict>
				<key>title</key>
				<string>Share not available</string>
			</dict>
			<key>你的设备</key>
			<dict>
				<key>title</key>
				<string>Your device</string>
			</dict>
			<key>名称</key>
			<dict>
				<key>title</key>
				<string>Name</string>
			</dict>
			<key>删除</key>
			<dict>
				<key>title</key>
				<string>Delete</string>
			</dict>
			<key>提供使用期限</key>
			<dict>
				<key>title</key>
				<string>Offered service life</string>
			</dict>
			<key>收费标准</key>
			<dict>
				<key>title</key>
				<string>Price</string>
			</dict>
			<key>元／小时</key>
			<dict>
				<key>title</key>
				<string>CNY/Hour</string>
			</dict>
			<key>关闭共享</key>
			<dict>
				<key>title</key>
				<string>Close share</string>
			</dict>
			<key>添加设备</key>
			<dict>
				<key>title</key>
				<string>Add device</string>
			</dict>
			<key>添加</key>
			<dict>
				<key>title</key>
				<string>Add</string>
			</dict>
			<key>你可以使用最多三台设备，但仅允许一台设备可用</key>
			<dict>
				<key>title</key>
				<string>You can add three devices at most, but only one is allowed to be used.</string>
			</dict>
			<key>填写信息</key>
			<dict>
				<key>title</key>
				<string>Fill in the information</string>
			</dict>
			<key>跳过</key>
			<dict>
				<key>title</key>
				<string>Skip</string>
			</dict>
			<key>网络名称</key>
			<dict>
				<key>title</key>
				<string>Network Name</string>
			</dict>
			<key>上网密码</key>
			<dict>
				<key>title</key>
				<string>Wifi Password</string>
			</dict>
			<key>最多使用人数</key>
			<dict>
				<key>title</key>
				<string>Max. users</string>
			</dict>
			<key>温馨提示:平台将扣款20%，剩余的款项将打给您</key>
			<dict>
				<key>title</key>
				<string>Warm tips: The platform fee of 20% will be deducted. The balance will be paid to you.</string>
			</dict>
			<key>提交</key>
			<dict>
				<key>title</key>
				<string>Submit</string>
			</dict>
			<key>确认wifi信息</key>
			<dict>
				<key>title</key>
				<string>Confirm wifi info.</string>
			</dict>
			<key>确认信息</key>
			<dict>
				<key>title</key>
				<string>Confirm info</string>
			</dict>
			<key>确认</key>
			<dict>
				<key>title</key>
				<string>Confirm</string>
			</dict>
			<key>查看共享</key>
			<dict>
				<key>title</key>
				<string>View share</string>
			</dict>
			<key>使用情况</key>
			<dict>
				<key>title</key>
				<string>Usage</string>
			</dict>
			<key>剩余时长</key>
			<dict>
				<key>title</key>
				<string>Time remaining</string>
			</dict>
			<key>小时</key>
			<dict>
				<key>title</key>
				<string>hours </string>
			</dict>
			<key>分钟</key>
			<dict>
				<key>title</key>
				<string>minutes</string>
			</dict>
			<key>IP地址</key>
			<dict>
				<key>title</key>
				<string>IP address</string>
			</dict>
			<key>物理地址</key>
			<dict>
				<key>title</key>
				<string>Physical address</string>
			</dict>
			<key>查看设备</key>
			<dict>
				<key>title</key>
				<string>View devices</string>
			</dict>
			<key>开启共享</key>
			<dict>
				<key>title</key>
				<string>Open Share</string>
			</dict>
			<key>wifi租用</key>
			<dict>
				<key>title</key>
				<string>wifi Rent </string>
			</dict>
			<key>Wifi搜索</key>
			<dict>
				<key>title</key>
				<string>Wifi search</string>
			</dict>
			<key>高德地图</key>
			<dict>
				<key>title</key>
				<string>AMAP</string>
			</dict>
			<key>附近共有 个可共享wifi</key>
			<dict>
				<key>title</key>
				<string>Total  shared wifi around</string>
			</dict>
			<key>已连接</key>
			<dict>
				<key>title</key>
				<string>Connected</string>
			</dict>
			<key>连接</key>
			<dict>
				<key>title</key>
				<string>Connect</string>
			</dict>
			<key>断开连接</key>
			<dict>
				<key>title</key>
				<string>Disconnect</string>
			</dict>
			<key>查看连接（未连接）</key>
			<dict>
				<key>title</key>
				<string>View connection (disconnected)</string>
			</dict>
			<key>速度</key>
			<dict>
				<key>title</key>
				<string>Speed</string>
			</dict>
			<key>使用时限</key>
			<dict>
				<key>title</key>
				<string>Using time</string>
			</dict>
			<key>申请连接</key>
			<dict>
				<key>title</key>
				<string>Apply connection</string>
			</dict>
			<key>租用时间</key>
			<dict>
				<key>title</key>
				<string>Rental time</string>
			</dict>
			<key>总计</key>
			<dict>
				<key>title</key>
				<string>Total</string>
			</dict>
			<key>开具发票</key>
			<dict>
				<key>title</key>
				<string>Issue invoice</string>
			</dict>
			<key>微信支付
推荐微信用户使用</key>
			<dict>
				<key>title</key>
				<string>WeChat payment
WeChat users are recommended to use it.</string>
			</dict>
			<key>支付宝支付
推荐支付宝用户使用</key>
			<dict>
				<key>title</key>
				<string>Pay Treasure payment
Pay Treasure users are recommend to use it.</string>
			</dict>
			<key>余额支付
推荐已充值用户使用</key>
			<dict>
				<key>title</key>
				<string>Balance payment
Recharged users are recommended to use it.</string>
			</dict>
			<key>确认支付</key>
			<dict>
				<key>title</key>
				<string>Confirm payment</string>
			</dict>
			<key>立即上网</key>
			<dict>
				<key>title</key>
				<string>Surf the internet now</string>
			</dict>
			<key>密码</key>
			<dict>
				<key>title</key>
				<string>Password</string>
			</dict>
			<key>验证连接</key>
			<dict>
				<key>title</key>
				<string>Verify connection</string>
			</dict>
			<key>正在连接...</key>
			<dict>
				<key>title</key>
				<string>Connecting…..</string>
			</dict>
			<key>连接成功</key>
			<dict>
				<key>title</key>
				<string>Connected successfully</string>
			</dict>
			<key>成功连接</key>
			<dict>
				<key>title</key>
				<string>Successful connection</string>
			</dict>
			<key>累计已用</key>
			<dict>
				<key>title</key>
				<string>Total time used:</string>
			</dict>
			<key>当前网速</key>
			<dict>
				<key>title</key>
				<string>Current internet speed</string>
			</dict>
			<key>续费提示</key>
			<dict>
				<key>title</key>
				<string>Renew reminder</string>
			</dict>
			<key>续费提醒</key>
			<dict>
				<key>title</key>
				<string>Renew reminder</string>
			</dict>
			<key>你的wifi使用即将到期，请续费继续使用!</key>
			<dict>
				<key>title</key>
				<string>Your wifi rental is coming due, please renew for continuous use!</string>
			</dict>
			<key>续费</key>
			<dict>
				<key>title</key>
				<string>Renew</string>
			</dict>
			<key>查看连接（已连接）</key>
			<dict>
				<key>title</key>
				<string>View connection (Connected)</string>
			</dict>
			<key>流量交易</key>
			<dict>
				<key>title</key>
				<string>Flow transaction</string>
			</dict>
			<key>需流量</key>
			<dict>
				<key>title</key>
				<string>Flow required</string>
			</dict>
			<key>营运商</key>
			<dict>
				<key>title</key>
				<string>Operator</string>
			</dict>
			<key>价格</key>
			<dict>
				<key>title</key>
				<string>Price </string>
			</dict>
			<key>温馨提示：该功能暂未开放，敬请期待！</key>
			<dict>
				<key>title</key>
				<string>Warm tips: Service not available, coming soon!</string>
			</dict>
			<key>立即支付</key>
			<dict>
				<key>title</key>
				<string>Pay now</string>
			</dict>
			<key>我的信息</key>
			<dict>
				<key>title</key>
				<string>My info.</string>
			</dict>
			<key>我的余额</key>
			<dict>
				<key>title</key>
				<string>My balance</string>
			</dict>
			<key>交易记录</key>
			<dict>
				<key>title</key>
				<string>Transaction record</string>
			</dict>
			<key>常见问题</key>
			<dict>
				<key>title</key>
				<string>FAQs</string>
			</dict>
			<key>设置</key>
			<dict>
				<key>title</key>
				<string>Settings</string>
			</dict>
			<key>消息设置</key>
			<dict>
				<key>title</key>
				<string>Notification Setting</string>
			</dict>
			<key>接收推送信息</key>
			<dict>
				<key>title</key>
				<string>Receive push notifications</string>
			</dict>
			<key>接收活动信息</key>
			<dict>
				<key>title</key>
				<string>Receive promotion notifications</string>
			</dict>
			<key>刷新设置</key>
			<dict>
				<key>title</key>
				<string>Refresh setting</string>
			</dict>
			<key>自动刷新</key>
			<dict>
				<key>title</key>
				<string>Automatic refresh</string>
			</dict>
			<key>摇一摇刷新</key>
			<dict>
				<key>title</key>
				<string>Shake-shake refresh</string>
			</dict>
			<key>加载地图</key>
			<dict>
				<key>title</key>
				<string>Loading map</string>
			</dict>
			<key>仅在3G／4G／wifi下</key>
			<dict>
				<key>title</key>
				<string>3G／4G／wifi only</string>
			</dict>
			<key>不加载</key>
			<dict>
				<key>title</key>
				<string>Not load</string>
			</dict>
			<key>退出</key>
			<dict>
				<key>title</key>
				<string>Exit</string>
			</dict>
			<key>头像</key>
			<dict>
				<key>title</key>
				<string>Profile picture</string>
			</dict>
			<key>昵称</key>
			<dict>
				<key>title</key>
				<string>Nickname</string>
			</dict>
			<key>性别</key>
			<dict>
				<key>title</key>
				<string>Gender</string>
			</dict>
			<key>邮箱</key>
			<dict>
				<key>title</key>
				<string>Email </string>
			</dict>
			<key>修改密码</key>
			<dict>
				<key>title</key>
				<string>Change password</string>
			</dict>
			<key>修改昵称</key>
			<dict>
				<key>title</key>
				<string>Change nickname</string>
			</dict>
			<key>修改邮箱</key>
			<dict>
				<key>title</key>
				<string>Change Email </string>
			</dict>
			<key>当前密码</key>
			<dict>
				<key>title</key>
				<string>Current password</string>
			</dict>
			<key>新密码 6-20位字符</key>
			<dict>
				<key>title</key>
				<string>New password 6-20 characters</string>
			</dict>
			<key>确认密码 6-20位字符</key>
			<dict>
				<key>title</key>
				<string>Confirm password 6-20 characters</string>
			</dict>
			<key>完成</key>
			<dict>
				<key>title</key>
				<string>Finish</string>
			</dict>
			<key>账户余额</key>
			<dict>
				<key>title</key>
				<string>Account balance
CNY</string>
			</dict>
			<key>充值</key>
			<dict>
				<key>title</key>
				<string>Recharge</string>
			</dict>
			<key>提现</key>
			<dict>
				<key>title</key>
				<string>Withdraw</string>
			</dict>
			<key>充值记录</key>
			<dict>
				<key>title</key>
				<string>Recharge record</string>
			</dict>
			<key>日期</key>
			<dict>
				<key>title</key>
				<string>Date</string>
			</dict>
			<key>金额</key>
			<dict>
				<key>title</key>
				<string>Amount</string>
			</dict>
			<key>元</key>
			<dict>
				<key>title</key>
				<string>CNY</string>
			</dict>
			<key>余额(¥) 元</key>
			<dict>
				<key>title</key>
				<string>Balance(¥)) CNY</string>
			</dict>
			<key>银行卡</key>
			<dict>
				<key>title</key>
				<string>Bank card</string>
			</dict>
			<key>银行卡列表</key>
			<dict>
				<key>title</key>
				<string>Bank card list</string>
			</dict>
			<key>选择银行卡</key>
			<dict>
				<key>title</key>
				<string>Select bank card</string>
			</dict>
			<key>添加银行卡（未填写）</key>
			<dict>
				<key>title</key>
				<string>Add bank card (Not filled)</string>
			</dict>
			<key>添加银行卡</key>
			<dict>
				<key>title</key>
				<string>Add bank card</string>
			</dict>
			<key>请绑定持卡人本人的银行卡</key>
			<dict>
				<key>title</key>
				<string>Please bind cardholder’s bank card</string>
			</dict>
			<key>卡类型</key>
			<dict>
				<key>title</key>
				<string>Bank card type</string>
			</dict>
			<key>持卡人</key>
			<dict>
				<key>title</key>
				<string>Cardholder
</string>
			</dict>
			<key>持卡人名字</key>
			<dict>
				<key>title</key>
				<string>Cardholder’s name</string>
			</dict>
			<key>卡号</key>
			<dict>
				<key>title</key>
				<string>Card number</string>
			</dict>
			<key>银行卡号</key>
			<dict>
				<key>title</key>
				<string>Bank card number</string>
			</dict>
			<key>手机号</key>
			<dict>
				<key>title</key>
				<string>Mobile phone</string>
			</dict>
			<key>银行预留手机号码</key>
			<dict>
				<key>title</key>
				<string>Mobile phone No. reserved in bank</string>
			</dict>
			<key>验证码</key>
			<dict>
				<key>title</key>
				<string>Verification code</string>
			</dict>
			<key>请输入验证码</key>
			<dict>
				<key>title</key>
				<string>Please input verification code</string>
			</dict>
			<key>获取验证码</key>
			<dict>
				<key>title</key>
				<string>Get verification code</string>
			</dict>
			<key>添加银行卡（已填写）</key>
			<dict>
				<key>title</key>
				<string>Add bank card (Filled)</string>
			</dict>
			<key>重发</key>
			<dict>
				<key>title</key>
				<string>Resend</string>
			</dict>
			<key>请输入手机收到的短信验证码</key>
			<dict>
				<key>title</key>
				<string>Please input verification code of text message received by mobile phone</string>
			</dict>
			<key>支出</key>
			<dict>
				<key>title</key>
				<string>Expenditure</string>
			</dict>
			<key>收入</key>
			<dict>
				<key>title</key>
				<string>Income</string>
			</dict>
			<key>出租方</key>
			<dict>
				<key>title</key>
				<string>Leaser</string>
			</dict>
			<key>流量</key>
			<dict>
				<key>title</key>
				<string>Flow</string>
			</dict>
			<key>供网流程</key>
			<dict>
				<key>title</key>
				<string>Leasing procedure</string>
			</dict>
			<key>租网流程</key>
			<dict>
				<key>title</key>
				<string>Rental procedure</string>
			</dict>
			<key>支付相关</key>
			<dict>
				<key>title</key>
				<string>About payment</string>
			</dict>
			<key>联系我们</key>
			<dict>
				<key>title</key>
				<string>Contact us</string>
			</dict>
			<key>升级提醒</key>
			<dict>
				<key>title</key>
				<string>Upgrading notification</string>
			</dict>
			<key>升级公告</key>
			<dict>
				<key>title</key>
				<string>Upgrading notice</string>
			</dict>
			<key>升级到</key>
			<dict>
				<key>title</key>
				<string>Upgrade to</string>
			</dict>
			<key>忽略升级</key>
			<dict>
				<key>title</key>
				<string>Ignore upgrade</string>
			</dict>
			<key>立即升级</key>
			<dict>
				<key>title</key>
				<string>Upgrade now</string>
			</dict>
			<key>登陆／注册</key>
			<dict>
				<key>title</key>
				<string>Login/Register</string>
			</dict>
			<key>登陆</key>
			<dict>
				<key>title</key>
				<string>Login</string>
			</dict>
			<key>注册</key>
			<dict>
				<key>title</key>
				<string>Register</string>
			</dict>
			<key>用户名</key>
			<dict>
				<key>title</key>
				<string>User name</string>
			</dict>
			<key>提示信息</key>
			<dict>
				<key>title</key>
				<string>Notice</string>
			</dict>
			<key>你的账号已在另一设备中登陆，是否继续使用本设备登陆？</key>
			<dict>
				<key>title</key>
				<string>You account is logged in another device, continue to log in with this device or not?</string>
			</dict>
			<key>是</key>
			<dict>
				<key>title</key>
				<string>Yes
</string>
			</dict>
			<key>否</key>
			<dict>
				<key>title</key>
				<string>No</string>
			</dict>
			<key>创建账户</key>
			<dict>
				<key>title</key>
				<string>Create account</string>
			</dict>
			<key>下一步</key>
			<dict>
				<key>title</key>
				<string>Next</string>
			</dict>
			<key>完善资料</key>
			<dict>
				<key>title</key>
				<string>Complete profile</string>
			</dict>
			<key>建立基本资料</key>
			<dict>
				<key>title</key>
				<string>Create basic profile</string>
			</dict>
			<key>头像上传</key>
			<dict>
				<key>title</key>
				<string>Profile picture uploading</string>
			</dict>
			<key>更换头像</key>
			<dict>
				<key>title</key>
				<string>Change Profile picture</string>
			</dict>
			<key>拍照</key>
			<dict>
				<key>title</key>
				<string>Take a picture</string>
			</dict>
			<key>从相册选择</key>
			<dict>
				<key>title</key>
				<string>Select a picture from your photo album</string>
			</dict>
			<key>提交注册</key>
			<dict>
				<key>title</key>
				<string>Submit Registration</string>
			</dict>
			<key>正在注册</key>
			<dict>
				<key>title</key>
				<string>Registering</string>
			</dict>
		</dict>
	</dict>
</array>
</plist>
